{% extends "layout.html" %}

{% block head %}
    <div class="jumbotron p-1 p-md-1 bg-white text-center">
        <h1 class="display-4 font-italic" id="category_title">Movies</h1>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end p-4">
        <a href="/add" class="btn btn-primary me-md-2" role="button" id="add_button">Add Movie</a>
    </div>

    <form class="d-grid gap-2 d-md-flex justify-content-md-end p-4" action="{{ url_for('scrape_movies') }}" method="post">
        <button class="btn btn-primary me-md-2" type="submit" id="scrape_button">Find New Movies</button>
    </form>
{% endblock %}

{% block body %}
    <main role="main" class="container">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>IMDB Rating</th>
                    <th>Metacritic Rating</th>
                    <th>Rotten Tomatoes Audience Rating</th>
                    <th>Rotten Tomatoes Critic Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.description }}</td>
                    {% if movie.imdbRating == '' %}
                    <td>None</td>
                    {% else %}
                    <td>{{ movie.imdbRating }}</td>
                    {% endif %}
                    {% if movie.metaRating == '' %}
                    <td>None</td>
                    {% else %}
                    <td>{{ movie.metaRating }}</td>
                    {% endif %}
                    {% if movie.rtAudienceRating == '' %}
                    <td>None</td>
                    {% else %}
                    <td>{{ movie.rtAudienceRating }}</td>
                    {% endif %}
                    {% if movie.rtCriticRating == '' %}
                    <td>None</td>
                    {% else %}
                    <td>{{ movie.rtCriticRating }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    </main>
{% endblock %}