{% extends "layout.html" %}

{% block title %}Movie{% endblock %}

{% block body %}
    <main role="main" class="container">
    <div class="row">

        <table class="table" id="data">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>IMDB Rating</th>
                    <th>Metacritic Rating</th>
                    <th>Rotten Tomatoes Audience Rating</th>
                    <th>Rotten Tomatoes Critic Rating</th>
                    <th>Average Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for movie in movies %}
                <tr id="table_column">
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.description }}</td>
                    {% if movie.imdbRating == '' %}
                    <td>None</td>
                    {% else %}
                    <td id="imdb">{{ movie.imdbRating }}</td>
                    {% endif %}
                    {% if movie.metaRating == '' %}
                    <td>None</td>
                    {% else %}
                    <td>{{ movie.metaRating }}</td>
                    {% endif %}
                    {% if movie.rtAudienceRating == '' %}
                    <td id="rt_a_n">None</td>
                    {% else %}
                    <td id="rt_a">{{ movie.rtAudienceRating }}</td>
                    {% endif %}
                    {% if movie.rtCriticRating == '' %}
                    <td>None</td>
                    {% else %}
                    <td>{{ movie.rtCriticRating }}</td>
                    {% endif %}
                    <td id="avg">{{ av_scores[movie.title] }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Options</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/del?id={{ movie.movieID }}">Delete</a></li>
                                <li><a class="dropdown-item" href="/edit?id={{ movie.movieID }}">Edit</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                columns: [
                  null,
                  {orderable: false},
                  null,
                  null,
                  null,
                  null,
                  null,
                  null],
              });
        });
    </script>
{% endblock %}