{% extends "layout.html" %}

{% block head %}
    <div class="jumbotron p-1 p-md-1 bg-white text-center">
        <h1 class="display-4 font-italic" id="category_title">Movies</h1>
    </div>
{% endblock %}

{% block body %}
    <main role="main" class="container">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>IMDB Rating</th>
                    <th>Metacritic Rating</th>
                    <th>Rotten Tomatoes Audience Rating</th>
                    <th>Rotten Tomatoes Critic Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.description }}</td>
                    <td>{{ movie.imdbRating }}</td>
                    <td>{{ movie.metaRating }}</td>
                    <td>{{ movie.rtAudienceRating }}</td>
                    <td>{{ movie.rtCriticRating }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    </main>
{% endblock %}